In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [6]:
#Tunisia GDP
tn_gdp = pd.read_csv("GDP-TUN-Annual.csv")
tn_gdp.columns = ["date", "gdp_usd"]
# Convert 'date' to datetime format
tn_gdp["date"] = pd.to_datetime(tn_gdp["date"])
tn_gdp["gdp_usd"] = tn_gdp["gdp_usd"].round(0)

#Tunisia Minimum Wage
tn_wage=pd.read_excel("MinWage-TN-Annual.xlsx")
tn_wage.columns = ["date", "wage-hourly-TND"]

In [7]:
print("TUNISIA Wage Data:")
display(tn_wage.head())

print("TUNISIA GDP Data:")
display(tn_gdp.head())

TUNISIA Wage Data:

   date  wage-hourly-TND
0  2024              2.6
1  2023              2.4
2  2022              2.2
3  2021              2.1
4  2020              2.1

TUNISIA GDP Data:

        date       gdp_usd
0 1961-01-01  8.661554e+08
1 1962-01-01  8.800277e+08
2 1963-01-01  1.026738e+09
3 1964-01-01  1.025867e+09
4 1965-01-01  9.910476e+08