In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [2]:
# USA data
#monthly wage
us_wage = pd.read_csv("MinWage-US-Monthly.csv")  
us_wage.columns = ["date", "hourly-wage"] 
# quarterly  GDP    
us_gdp = pd.read_csv("GDP-US-QUARTLY.csv")  
us_gdp.columns = ["date", "gdp_usd"]    


us_wage["date"] = pd.to_datetime(us_wage["date"])
us_wage_ = us_wage.set_index("date")

In [36]:
print("USA Wage Data:")
display(us_wage.head())

print("USA GDP Data:")
display(us_gdp.head())

USA Wage Data:

        date  hourly-wage
0 1938-10-01         0.25
1 1938-11-01         0.25
2 1938-12-01         0.25
3 1939-01-01         0.25
4 1939-02-01         0.25

USA GDP Data:

         date  gdp_usd
0  1947-01-01  243.164
1  1947-04-01  245.968
2  1947-07-01  249.585
3  1947-10-01  259.745
4  1948-01-01  265.742